<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student list</title>
</head>

<body>
    <h1>students list</h1>
    <table border="1" width="100%">

        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
        </tr>
        <% if(expenses.length> 0){%>
            <% for(var i=0; i < expenses.length; i++){%>
                <tr>
                    <td><%- expenses[i].name %></td>
                    <td><%- expenses[i].email %></td>
                    <td><%- expenses[i].mno %></td>
                </tr>
                <%}%>
                    <%}else{%>
                        <h1>Students Data not found</h1>

                        <%}%>
    </table>
</body>

</html>