<h1>Update Students</h1>

<form action="" method="POST">
    <input type="hidden" name="id" value="<% expenses[0].name %>">
    <input type="text" name="name" value="<%= expenses[0].name %>" placeholder="Enter Name" required><br> <br>
    <input type="email" name="email" value="<%= expenses[0].email %>" placeholder="Enter Email" required><br> <br>
    <input type="number" name="mno" value="<%= expenses[0].mno %>" placeholder="Enter Mobile Number" required><br> <br>
    <input type="submit" value="Submit">
</form>